<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" routerLink="/">Menu</a>
  <ul class="nav navbar-nav">
    <li class="nav-item" routerLink="/" [routerLinkActive]="['active']">
      <a class="nav-link">Home</a>
    </li>
    <li class="nav-item" routerLink="list" [routerLinkActive]="['active']">
      <a class="nav-link">list</a>
    </li>
  </ul>
</nav>