<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron">
				<div class="row">
					<div class="col-lg-6">
						<button class="btn btn-warning" (click)="unsubscribe()">
							Unsubscribe
						</button>
					</div>
					<div class="col-lg-6">
						Counter : {{count}}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						Using async pipe
					</div>
					<div class="col-lg-6">
						Counter : {{counter$ | async}}
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-lg-12">
						<table class="table">
							<thead>
								<tr>
									<th>test</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										test
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>