<main>
	<div class="content">
		<ng2w-menu></ng2w-menu>
		<h1 class="text-center">Ng2/webpack/less</h1>
		<ng-content select=".ng2w-layout-children"></ng-content>
	</div>
	<!-- <footer></footer> -->
</main>